.categoryBody {
    width: 100vw;
    max-width: 100%;
    overflow: auto;
}

@media (max-width: 768px) {
    .categoryBody {
        font-size: 10px;
    }
}


@media (max-width: 480px) {
    .categoryBody {
        font-size: 8px;
    }
}